<div class="modal" id="recipe-modal">
    <!-- BACK BUTTON -->
    <a href="/view" class="close">&times;</a>

    <!-- RECIPE TITLE -->
    <h1 class="recipe-title"><%= single.name %></h1>

    <div id="selected-recipe-container">
        <!-- INGREDIENT LIST CONTAINER-->
        <ul id="selected-recipe-list">
            <% for (var i = 0; i < single.ingredients.length ; i++) { %>
            <li> <%= single.ingredients[i] %> </li>
            <% } %>
        </ul>

        <!-- RECIPE INSTRUCTIONS CONTAINER -->
        <div id="recipe-intructions"> <%= single.instructions %> </div>
    </div>

    <!-- DELETE RECIPE MODAL -->
    <div class="modal delete-modal" id="delete-modal">
        <!-- BACK BUTTON -->
        <a href="/view/<%= single.id %>" class="close">&times;</a>

        <h1>Are you sure you want to delete this recipe?</h1>

        <div class="delete-answers">
            <a href="/view/<%= single.id %>" class="no-button">NO</a>

            <form action="/edit/<%= single._id %>?_method=DELETE" method="POST">
                <button type="submit" id="delete-yes">YES</button>
            </form>
        </div>
    </div>


    <!-- EDIT & DELETE BUTTON CONTAINER -->
    <div class="recipe-button-container">
        <!-- EDIT BUTTON -->
        <a href="/edit/<%= single._id %>" type="button">
            <i class="fa-solid fa-pencil"></i>
        </a>
        <!-- DELETE BUTTON -->
        <a id="delete-button" type="button">
            <i class="fa-solid fa-ban"></i>
        </a>
    </div>
</div>
