
<div class="modal">
    <!-- BACK BUTTON -->
    <a href="/" class="close">&times;</a>

<!-- SELECT CATEGORY DROPDOWN -->
<div class="option-container">
    <form method="GET" action="/category" class="form">
        <div class="form-group view-group">
            <select id="sort-dropdown" name="category" class="form-control">
                <option disabled="disabled" selected="selected" value=""
                    >Select category</option
                >
                <option value="Breakfast">Breakfast</option>
                <option value="Appetizers">Appetizers</option>
                <option value="Cold">Cold meals</option>
                <option value="Warm">Warm meals</option>
                <option value="Vegetarian">Vegetarian</option>
                <option value="Dessert">Dessert</option>
                <option value="other">Other</option>
            </select>
        </div>
    </form>

    <!-- RESET BUTTON -->
    <a href="/view" class="reset"><i class="fa-solid fa-arrows-rotate fa-2xs"></i></a>

    <!-- SEARCH BAR -->
    <form method="POST" action="/search" class="form">
        <div class="form-group view-group" id="search-form-group">
            <input type="search" name="searchTerm" class="form-control" placeholder="Search.." aria-label="Search"/>
        </div>
    </form>
</div>


<!-- RECIPE LIST CONTAINER -->
    <div id="recipe-container">
        <% recipes.forEach(element => { %>
            <a href="/view/<%= element._id %>" class="item">
                <b><%= element.name %></b>
                <small><%= element.category %></small>
            </a>
        <% }) %>
    </div>

    
<!-- PAGINATION (PAGE LINK BUTTONS) -->
<% if (recipes.length > 0) { %>
    <!-- checking if there are actually customers to do pagination -->
    
    <nav class="pagination" aria-label="Pagination">
        
            <!-- FIRST PAGE -->
            <% if (current == 1) { %>
            <!-- if one first page disable 'first page link' -->
            <a href="#" disabled>&laquo;</a>
            <% } else { %>
            <a href="/view/?page=1">&laquo;</a>
            <% } %>
    
            <!-- SHOW '...' PAGE LINKS IF MORE THAN 5 PAGE LINKS -->
            <% var i = (Number(current) > 5 ? Number(current) -4 : 1) %> <% if(i !== 1) { %>
            <a href="#" disabled>...</a>
            <% } %>
    
            <!-- DISABLE CURRENT PAGE LINK -->
            <% for(; i <= (Number(current) + 4) && i <= pages; i++ ) { %> <% if (i == current) { %>
            <a href="#" class="active" disabled><%= i %></a>
            <% } else { %>
            <a href="/view/?page=<%= i  %>"><%= i %></a>
            <% } %>
    
            <!-- SHOW '...' PAGE LINKS IF MORE THAN 5 PAGE LINKS -->
            <% if (i == Number(current) + 4 && i < pages) { %>
            <a href="#" disabled>...</a>
            <% } %> <% } %> <% if (current == pages) { %>
            <!-- if one last page disable 'last page link' -->
            <a href="#" disabled>&raquo;</a>
            <% } else { %>
            <a href="/view/?page=<%= pages %>">&raquo;</a>
            <% } %>
    </nav>
    
<% } %>

</div>
